{% extends 'layouts/login.html.twig' %}

{% block title %}Créer un compte
{% endblock %}

{% block body %}
	<div class="login">
		<h1>Créer un compte</h1>

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
		<button type="submit" class="btn">S'enregister</button>
		{{ form_end(registrationForm) }}
		<hr>
		<input type="button" value="Connexion" onclick="window.location.href='login';"/>
	{% endblock %}
